.qsys_edit

cubic_soc_base/*.bsf
cubic_soc_base/*.cmp
cubic_soc_base/*.html
cubic_soc_base/*.qws

PLLJ_PLLSPE_INFO.txt
c5_pin_model_dump.txt
db/
hc_output/
hps_isw_handoff/
hps_sdram_p0_all_pins.txt
hps_sdram_p0_summary.csv
incremental_db/
output_files/
stamp/
*~
cubic_soc_base/*assignment_defaults.qdf
cubic_soc_base/*.hps.svd
cio_dump_disallowed_lists.echo
*.bak

reconfig_mif/
tgz/

*.dtb

*.o
